body {
    font-family: "Roboto", "Arial", sans-serif;
    color: #5D6970;
    margin: 0 auto;
}

a {
    color: #505F98;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* Logo */

.title-Landie {

    color: #37447E;
    font-size: 1.75rem;
    font-weight: 900;
}

/* Text */

.inner {
    margin-top: 140px;
    line-height: 1.5rem;
    max-height: none;
    color: #6F7CB2;
}

.inner ul {
    margin-top: 45px;
    display: flex;
    padding: 0;
}

.inner__subparaghraph {
    padding: 30px, 0;
    max-width: 264px;
    color: #5D6970;
    font-size: 0.75rems;
    line-height: 1.25rem;
}

/* Titles */

.title {
    align-self: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 48px;

    color: #091133;
}

.title2 {
    align-self: center;
    color: #091133;
    font-weight: 500;
    line-height: 26px;
}

.title3 {
    align-self: center;
    color: #37447E;
    font-size: 2rem;
    font-weight: 500;
    line-height: 48px;
}

.title4 {
    align-self: center;
    color: #091133;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 32px;
}

@media screen and (max-width: 768px) {
    body {
        text-align: center;
    }

    br {
        display: none;
    }

    .inner ul {
        flex-direction: column;
    }
}