.container3 {
    display: flex;
    align-items: center;
}

.purchase {
    width: 189px;
    height: 26px;
    flex-shrink: 0;

    border: 0;
    background: #111B47;

    color: #FFF;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}

.container3 ul {
    padding: 0;
}

.plans {
    margin-right: 30px;
}